<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="shortcut icon" href="https://chatgpt.com/favicon.ico" type="image/x-icon">
</head>

<body class="bg-white">
    <div class="flex h-[100vh]">
        <div class="left bg-gray-900 w-1/6">
            
                <img href="img/search.png" alt="searchicon">
            

        </div>
        <div class="font-semibold text-gray-500 text-xl px-5 py-3">
            ChatGPT
        </div>
        <div class="right flex w-10/12 justify-center items-center flex-col">
            
            <div class="text-center w-full text-3xl font-semibold">
                What can I help with?
            </div>
            <div class="itemsrow flex">
                <div class="example">

                </div>
                <div class="capabilities">

                </div>
                <div class="limitations">

                </div>
               
            </div>
        </div>
        
    </div>
    
</body>

</html>